@{
    ViewData["Title"] = "Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>Welcome to this beautiful collection of films :)</h1>
    <p>Welcome to this excellent movie database.</p>
    <img class="rounded" height="200" src="~/joelhilton.jpg" />
    <p class="font-italic">Above: Our fearless founder Joel Hilton.</p>
</div>
