@{
    ViewData["Title"] = "Joel Hilton Film COllection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this beautiful collection of films :)</h1>
    <p>Welcome to this excellent movie database.</p>
    <img src="~/joelhilton.jpg" />
</div>
