@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts!";
}

<div>
    <h5 class="display-2">My podcast:</h5>
    <a href="https://baconsale.com/">Click here!</a>
</div>
